html, body {
  font-family: 'Bungee', cursive;
  height: 100%;
  background-color: white;
}

h1.appTitle {
  font-size: 70px;
  text-align: center;
}

nav {
  font-size: 20px;
}

.container-fluid {
  background-color: silver;
}

.content {
  font-size: 16px;
  margin-right: 70px;
  margin-left: 70px;
}

#resultFood {
  font-size: 40px;
}

#map {
  height: 50%;
  width: 89%;
  position: relative;
  margin-left: 70px;
}