<div>
  <h2>Restaraunts</h2>
  <div>
    <table class='table table-hover table-bordered table-inverse'>
      <thead class='thead-inverse'>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='food in data.foods'>
          <td>{{food.name}}</td>
          <td>{{food.location}}</td>
          <td>{{food.price}}</td>
          <td width='40px'><button class='btn btn-danger' ng-click='removeRestaraunt(data.foods.indexOf(food), food)'>Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class='btn btn-success btn-lg btn-block' ng-click='getRandomRestaraunt()'>Tell Me Where To Eat</button>
  <div>
    <h3>Congratulations! You are going to: <span id='resultFood'>{{randFood.name}}</span></h3>
  </div>
  <script type="text/javascript">
    var getRandomColor = function() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    };
    var $allSpans = $('#resultFood');
    window.setInterval( function() {
      $allSpans.css('color', getRandomColor());
    }, 100);
  </script>
</div>