<div>
  <h2>Restaraunts</h2>
  <div>
    <table class='table table-hover table-bordered table-inverse'>
      <thead class='thead-inverse'>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='food in data.foods'>
          <td>{{food.name}}</td>
          <td>{{food.location}}</td>
          <td>{{food.price}}</td>
          <td width='40px'><button class='btn btn-danger' ng-click='removeRestaraunt(data.foods.indexOf(food))'>Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class='btn btn-success btn-lg btn-block' ng-click='getRandomRestaraunt()'>Tell Me Where To Eat</button>
  <div>
    <h3>Congratulations! You are going to: {{randFood.name}}</h3>
  </div>
</div>